/* .subNavBar {
  width: 100%;
} */

#navItem {
  background-color: #183c60;
  border: 1px solid #ffe6e6;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  margin-right: 0.5rem;
  transition: all 0.2s;
}

#navItem:hover {
  background-color: #165b9f;
}

#navItem.selected {
  background-color: #1303af;
}
