#inputField input {
  border: 2px solid rgb(78 172 255 / 46%);
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

#btnPrimary,
#btnSecondary {
  width: 8rem;
  height: 3rem;
}

#logoutBtnContainer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: right;
}

#logoutBtn {
  padding: 0.5rem 1.5rem;
}
