.formContainer.removeUser {
  height: 30%;
  padding: 1rem;
}

.formGetUser.formGetUserID {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.formGroup.idColumn {
  height: 4rem;
}
