.formContainer.editUser {
  /* background-color: rebeccapurple; */
  height: 70%;
}

.formContainer.editUser .form {
  grid-template-rows: repeat(5, 1fr);
}

.formContainer.editUser .submitBtn {
  grid-row: 7 / -1;
}
